header
    nav(class="navbar navbar-light bg-light")
            a(class="navbar-brand" href="#")
                img(src="/assets/img/brand.png" width="80" height="80" class="d-inline-block panel-default" alt="NodePay")
                |
                | Node Pay