div(class="card")
    div(class="card-body")
        h1(class="card-title")
            | Personal Information
        div(class="media")
            img(class="mr-3" src="/assets/img/man.jpg" width="96" height="96" alt="Profile Photo")
            div(class="media-body")
                h5(class="mt-0")
                    | Name: 
                    =name
                h5(class="mt-0")
                    | Bank: 
                    =bank
                h5(class="mt-0")
                    |Account Number: 
                    =accno
