form(action= loginURL method="POST" name="loginForm" accept-charset="UTF-8" role="form")
    fieldset
        // input(type="hidden" value= csrfToken readonly)
        div(class="form-group")
            input(class="form-control" placeholder="Username" name="username" type="text" required)
        div(class="form-group")
            input(class="form-control" placeholder="Password" name="password" type="password" required)
        div(class="form-group checkbox")
            label
                input(name="remember" type="checkbox" value="Remember Me")
                |
                | Remember Me
        button(class="btn btn-md btn-success btn-block" type="submit" name="login")
            | Login
        a(href= registerURL class="btn btn-md btn-default btn-block" role="button")
            | Don't have an account? Create One