form(accept-charset="UTF-8" role="form")
    fieldset
        div(class="form-group")
            input(class="form-control" placeholder="Reciever ID" name="reciever" type="text")
        div(class="form-group")
            input(class="form-control" placeholder="Amount" name="amount" type="number" min="10")
        button(class="btn btn-lg btn-success btn-block" type="button" name="pay")
            | Pay