form(accept-charset="UTF-8" role="form")
    fieldset
        div(class="form-group")
            input(class="form-control" placeholder="Username" name="username" type="text" required)
        div(class="form-group")
            input(class="form-control" placeholder="Password" name="password" type="password" required)
        div(class="form-group")
            input(class="form-control" placeholder="Full Name" name="name" type="text" required)
        div(class="form-group")
            input(class="form-control" placeholder="Bank Name" name="bankname" type="text" required)
        div(class="form-group")
            input(class="form-control" placeholder="Account Number" name="acnumber" type="text" required)
        div(class="form-group")
            button(class="btn btn-lg btn-success btn-block" type="submit" name="register")
                | Register
    </fieldset>
</form>